#macro(main_layout)
<html>
<head>
    #include("templates/partials/head.vm")
    <title>$texts.getString('page.title')</title>
##    <meta http-equiv="refresh" content="30" />
</head>
<body class="bg-light">

<nav class="navbar navbar-light sticky-top flex-md-nowrap p-0 bg-light">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-white text-center" href="/">
        <img src="/img/restaurant-logo.png" alt="restaurant logo" height="60"/>
    </a>
    <div>
        <h2>
            $texts.getString('page.title')
        </h2>
    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item text-secondary">
            <a class="nav-link text-secondary" id="about-us" href="#">$texts.getString('header.about-us')</a>
        </li>
        <li class="nav-item text-secondary">
            <a class="nav-link text-secondary" id="support" href="#">$texts.getString('header.support')</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">
                #if($lang=='en')
                <img src="/img/united-states.svg" alt="usa flag" width="20"/><span class="ml-2">$texts.getString('language.english')</span>
                #end
                #if($lang=='es')
                <img src="/img/spain.svg" alt="spain flag" width="20"/><span class="ml-2">$texts.getString('language.spanish')</span>
                #end
            </a>
            <div class="dropdown-menu">
                #if($lang=='es')
                <a class="#if($lang=='en')dropdown-item#{else}dropdown-item#end" href="$pathInfo?lang=en">
                    <img src="/img/united-states.svg" alt="usa flag" width="20"/><span class="ml-2">$texts.getString('language.english')</span>
                </a>
                #end
                #if($lang=='en')
                <a class="#if($lang=='es')dropdown-item active#{else}dropdown-item#end" href="$pathInfo?lang=es">
                    <img src="/img/spain.svg" alt="spain flag" width="20"/><span class="ml-2">$texts.getString('language.spanish')</span>
                </a>
                #end
            </div>
        </li>
    </ul>
</nav>
<div class="row main-content">
    <main role="main" class="col-12">
        $!bodyContent
    </main>
</div>
<div class="fixed-bottom text-muted text-center sticky-top py-1 bg-light text-small col-sm-12">
    &copy; 2018-2019 R&C rycrestaurant.com
</div>
#include("templates/partials/footer.vm")
</body>
</html>
#end